<div class="navbar-inner">
    <div class="container">
        <a class="brand" href="#">BrixJS Application</a>
        <ul class="nav">
            <li class="profile active"><a href="#">Profile</a></li>
            <li class="settings"><a href="#">Settings</a></li>
        </ul>
    </div>
</div>