<h4>Left Column</h4>
<p>When you click on the button below,
    {{githubUrl "module/settings/activity/LeftColumnActivity.js" "LeftColumnActivity"}} will ask placeController to
    switch to {{githubUrl "places/SubSettingsPlace.js" "SubSettingsPlace"}}
</p>
<a class="btn btn-small">Change Right</a>