/* Will be compiled down to a single stylesheet with your sass files */
header {
    height: 50px;
}

.modal-placeholders {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: auto;
}